{% extends "member/base.html" %}

{% block title %}
    Publications
{% endblock %}

{% block headline %}
    Publications
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Publications</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Cette page regroupe l’emsemble de vos publications rédigées sur le
            site, qu’elles soient en cours de rédaction, en bêta ou bien
            publiées.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h2>Articles</h2>
    </div>
</div>
{% if user_articles %}
    {% for article in user_articles %}
        {% if article.is_visible %}
            <div class="row article-publication-item published">
        {% else %}
            <div class="row article-publication-item">
        {% endif %}
            <div class="large-1 columns">
                <div class="date-box">
                    {% with date=article.pubdate %}
                        {% include "misc/datebox.part.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="large-10 columns">
                <a href="{{ article.get_absolute_url }}">{{ article.title }} </a>
                {% if article.is_beta %}<span class="label alert">BETA</span>{% endif %}
                <p>{{ article.description }}</p>
            </div>
            <div class="large-1 columns">
                <a href="{{ article.get_edit_url }}">
                    <i class="icon-edit"></i>
                    Éditer
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="large-12 columns">
            <p>
                Aucun article n'a été rédigé.
            </p>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="large-12 columns">
        <h2>Tutoriels</h2>
    </div>
</div>

{% if user_tutorials %}
    {% for tuto in user_tutorials %}
        {% if tuto.is_visible %}
            <div class="row article-publication-item published">
        {% else %}
            <div class="row article-publication-item">
        {% endif %}
            <div class="large-1 columns">
                <div class="date-box">
                    {% with date=tuto.pubdate %}
                        {% include "misc/datebox.part.html" %}
                    {% endwith %}
                </div>
            </div>
            <div class="large-10 columns">
                <a href="{{ tuto.get_absolute_url }}">{{ tuto.title }} </a>
                {% if tuto.is_beta %}<span class="label alert">BETA</span>{% endif %}
                <p>{{ tuto.description }}</p>
            </div>
            <div class="large-1 columns">
                <a href="{% url "pdp.tutorial.views.edit_tutorial" %}?tutoriel={{ tuto.pk }}" class="button small">
                    <i class="icon-edit"></i>
                    Éditer
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="large-12 columns">
            <p>
                Aucun tutoriel n'a été rédigé.
            </p>
        </div>
    </div>
{% endif %}

{% endblock %}
