{% extends "member/base.html" %}

{% block title %}
   Paramètres
{% endblock %}

{% block headline %}
   Paramètres
{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <dl class="sub-nav">
                {% block subnav %}{% endblock %}
            </dl>
        </div>
    </div>
    {% block settings_form %}{% endblock %}
{% endblock %}
