<div class="row hide-for-small">
	<div class="large-12 columns">
		<div class="large-2 columns">

			<a class="button secondary" href="javascript:;" onclick="h1('id_text')" title="Entête 1" tabindex="-1">
				<i class="size-16">H1</i>
			</a>

			<a class="button secondary" href="javascript:;" onclick="h2('id_text')" title="Entête 2" tabindex="-1">
				<i class="size-12">H2</i>
			</a>

		</div>
		<div class="large-2 columns">

			<a class="button secondary" href="javascript:;" onclick="bold('id_text')" title="Gras" tabindex="-1">
				<i class="fi-bold size-18"></i>
			</a>
			
			<a class="button secondary" href="javascript:;" onclick="italic('id_text')" title="Italique" tabindex="-1">
				<i class="fi-italic size-18"></i>
			</a>

		</div>
		<div class="large-2 columns">

			<a class="button secondary" href="javascript:;" onclick="bulletList('id_text')" title="Liste bullet" tabindex="-1">
				<i class="fi-list-bullet size-18"></i>
			</a>

			<a class="secondary button" href="javascript:;" onclick="numericList('id_text')" title="Liste numérique" tabindex="-1">
				<i class="fi-list-number size-18"></i>
			</a>

		</div>
		<div class="large-3 columns">

			<a class="secondary button" href="javascript:;" onclick="link('id_text')" title="Lien" tabindex="-1">
				<i class="fi-link size-18"></i>
			</a>

			<a class="secondary button" href="javascript:;" onclick="image('id_text')" title="Image" tabindex="-1">
				<i class="fi-photo size-18"></i>
			</a>

			<a class="secondary button" href="javascript:;" onclick="quote('id_text')"  title="Citation" tabindex="-1">
				<i class="fi-quote size-18"></i>
			</a>

            <!-- Temporary disabled due to rework needed on the Markdown secret formatting
			<a class="secondary button" href="javascript:;" onclick="secret('id_text')"  title="Secret" tabindex="-1">
				<i class="fi-key size-18"></i>
			</a>
            -->

		</div>
		<div class="large-3 columns">

			<a class="secondary button" href="javascript:;" onclick="inlineCode('id_text')" title="Code monoligne" tabindex="-1">
				<i class="size-18">&lsaquo; / &rsaquo;</i>
			</a>

			<a class="secondary button" href="javascript:;" onclick="code('id_text')" title="Code multiligne" tabindex="-1">
				<i class="size-18">&lsaquo; /.. &rsaquo;</i>
			</a>

		</div>
	</div>
</div>
