{% extends "base.html" %}
{% load cache %}

{% block menu_home %}
class="active"
{% endblock %}

{% load staticfiles %}

{# Titles #}

{% block title %}
    Accueil
{% endblock %}

{% block headline %}
    Quoi de neuf ?
{% endblock %}

{% block meta %}
    <meta name="description" content="Bienvenue sur Progdupeupl, une communauté de passionnés d'informatique et notamment de programmation. Ce site permet non seulement de se former à la programmation, mais également de discuter entre membres pour progresser, découvrir des astuces, partager, aider, en bref : échanger de façon utile sur le monde de l'informatique." />
{% endblock %}

{% block header %}
    <h1>
        <i class="icon-home icon-large"></i>
        Bienvenue
    </h1>
    <p>
        Bienvenue sur Progdupeupl, <strong>une communauté de passionnés
        d'informatique</strong> et notamment de programmation. Ce site permet
        non seulement de se former à la programmation, mais également de
        discuter entre membres pour progresser, découvrir des astuces,
        partager, aider, en bref : échanger de façon utile sur le monde de
        l'informatique.
    </p>
{% endblock %}

{# Content #}

{% block content %}

<div class="row">
    {# Articles #}
    {% cache 120 home-articles %}
    <div class="large-4 columns">
        <div class="home-app-title">
            <h2 >
                <a href="{% url "pdp.article.views.index" %}">
                    Articles
                </a>
            </h2>
        </div>

        {% if last_articles %}
            {% for article in last_articles %}
                {# TODO: use a custom css class for this kind of elements #}
                {% if article.thumbnail %}
                <div class="row collapse">
                        <div class="small-2 columns">
                            <img src="{{ article.thumbnail.url }}" alt="Icône" />
                        </div>
                    <div class="small-10 columns" style="padding-left: 5px;">
                    {% endif %}
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a><br />
                        <p>{{ article.description }}</p>
                    {% if article.thumbnail %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Pas d'articles pour l'instant.</p>
        {% endif %}
    </div>
    {% endcache %}

    {# Tutorials #}
    {% cache 120 home-tutorials %}
    <div class="large-4 columns">
        <div class="home-app-title">
            <h2>
                <a href="{% url "pdp.tutorial.views.index" %}">
                    Tutoriels
                </a>
            </h2>
        </div>

        {% if last_tutorials %}
            {% for tutorial in last_tutorials %}
                {# TODO: use a custom css class for this kind of elements #}
                {% if tutorial.thumbnail %}
                <div class="row collapse">
                    <div class="small-2 column">
                        <img src="{{ tutorial.thumbnail.url }}" alt="Icône"/>
                    </div>
                    <div class="small-10 column" style="padding-left: 5px;">
                    {% endif %}
                        <a href="{{ tutorial.get_absolute_url }}">{{ tutorial.title }}</a>
                        <p>{{ tutorial.description }}</p>
                    {% if tutorial.thumbnail %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucun tutoriel actuellement.</p>
        {% endif %}
    </div>
    {% endcache %}

    {# Forums #}
    {% cache 120 home-forums user.username %}
    <div class="large-4 columns">
        <div class="home-app-title">
            <h2>
                <a href="{% url "pdp.forum.views.index" %}">
                    Forums
                </a>
            </h2>
        </div>

        {% if last_topics %}
            {% for topic in last_topics %}
                {% include "forum/topic_item_common.part.html" %}
            {% endfor %}
        {% else %}
            <p>Aucun sujet récent.</p>
        {% endif %}
    </div>
    {% endcache %}
</div>

{# Search fields for desktop version #}
<div class="row hide-for-small">
    <div class="small-4 columns">
        <form id="search-article" name="search-article" method="GET" action="{% url "haystack_search" %}">
            <div class="row collapse">
                <div class="small-7 columns">
                    <input type="hidden" name="models" value="article.article" />
                  <input type="text" name="q" placeholder="Rechercher">
                </div>
                <div class="small-3 columns left">
                  <button type="submit" class="button"><i class="fi-magnifying-glass size-12"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-4 columns">
        <form id="search-tuto" name="search-tuto" method="GET" action="{% url "haystack_search" %}">
            <div class="row collapse">
                <div class="small-7 columns">
                    <input type="hidden" name="models" value="tutorial.extract" />
                  <input type="text" name="q" placeholder="Rechercher">
                </div>
                <div class="small-3 columns left">
                  <button type="submit" class="button"><i class="fi-magnifying-glass size-12"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="large-4 columns">
        <form id="search-forum" name="search-forum" method="GET" action="{% url "haystack_search" %}">
            <div class="row collapse">
                <div class="small-7 columns">
                    <input type="hidden" name="models" value="forum.topic" />
                  <input type="text" name="q" placeholder="Rechercher">
                </div>
                <div class="small-3 columns left">
                  <button type="submit" class="button"><i class="fi-magnifying-glass size-12"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

{# Access buttons for desktop version #}
<div class="row hide-for-small">
    <div class="large-4 columns">
        <div class="button-group">
            <a href="{% url "pdp.article.views.index" %}" class="button">
                <i class="icon-arrow-right"></i>
                Aller aux articles
            </a>
            {% include "article/feeds.part.html" %}
        </div>
    </div>
    <div class="large-4 columns">
        <div class="button-group">
            <a href="{% url "pdp.tutorial.views.index" %}" class="button">
                <i class="icon-arrow-right"></i>
                Aller aux tutoriels
            </a>
            {% include "tutorial/feeds.part.html" %}
        </div>
    </div>
    <div class="large-4 columns">
        <div class="button-group full-width">
            <a href="{% url "pdp.forum.views.index" %}" class="button">
                <i class="icon-arrow-right"></i>
                Aller aux forums
            </a>
            {% include "forum/feeds.part.html" %}
        </div>
    </div>
</div>

{% endblock %}
