{% extends "messages/base.html" %}
{% load humane_date %}

{% block title %}
    Liste des MP
{% endblock %}

{% block headline %}
    Discussions
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="javascript:;">Index</a></li>
{% endblock %}

{% block headline-actions %}

<form action="." method="post">    
    <div class="button-group">
        {% if user.is_authenticated %}
        <a href="{% url "pdp.messages.views.new" %}" class="button">
            Nouveau
        </a>
        {% endif %}
        <button type="submit" name="delete" class="button secondary">Supprimer</button>
    </div>
    {% endblock %}

    {% block content %}

    {% if privatetopics %}
        <div class="forum-entries">
            {% for topic in privatetopics %}
                {% include "messages/details_row.part.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="large-12 columns">
                <p>Aucun message.</p>
            </div>
        </div>
    {% endif %}
    {% csrf_token %}
</form>
{% include "misc/pagination.part.html" %}

{% endblock %}
