{% load humane_date %}
{% load interventions %}

<div class="row collapse">
    <div class="small-10 column">
        <a href="{{ topic.get_absolute_url }}">
            {{ topic.title }}
        </a>
        <p>
            {{ topic.subtitle }}
        </p>
    </div>
    <div class="small-2 column">
        <a class="tiny button {% reads_topic topic user %} radius right"
            href="{{ topic.last_read_post.get_absolute_url }}">
            {{ topic.get_post_count }}
        </a>
    </div>
</div>
